{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-8 mt-4">
 <div class="row">
   <div class="col">
      <img src="{{ student.image }}" width="400" height="400">
   </div>
   <div class="col mt-5 text-center">
      <h1 class="text text-danger">{{ student.name }}</h1>
      <h2 class="text text-primary">DOB: {{ student.date | date('d-m-Y') }}</h2>
      <h2 class="text text-primary">Major: {{ student.major }}</h2>
   </div>
 </div>
</div>
{% endblock %}