{% extends 'base.html.twig' %}

{% block body %}
<div class="container col-md-8 text-center">
    <img class="mt-4" src="{{ asset('https://2.bp.blogspot.com/-9963WEZg_Oc/Wv0geGW-fiI/AAAAAAABTTQ/ykJ-GleRB64vOx6yg2YUrJc2gNtCROwTwCLcBGAs/s1600/snake-con-ran-compressor.png')}}" width="75%" height="75%" />
</div>
{% endblock %}
