{% extends "base.html.twig" %}
{% block body %}

 <div class="cotainer">
    <div class="container-fluid bg-1 text-center">
     <h3>Name of subject: {{ subject.name }}</h3>
    <h3>Subject No:{{ subject.subjectno }}</h3>
    <h3>Slot of subject:{{ subject.subjectSlots }}</h3>

 </div>
{% endblock %}